@use "../sass/btns";
@use "../sass/colors";
@use "../sass/globals";

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* background: #23424a; */
  padding: 2em;
  border-radius: 4px;
}
.nav-btn {
  width: 30%;
  max-width: 140px;
  padding: 0.4em;
  text-align: center;
  color: #fafafa;
  background: #141414;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3125s ease-in-out;
}

.nav-btn:hover {
  background: transparent;
  border: 2px solid #fafafa;
}

.nav-logo {
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav-menu li {
  padding: 0 3em 0 0;
}
.nav-menu li:hover::before {
  width: 100%;
  height: 2px;
  content: "";
  border-bottom: 2px solid #141414;
}
.nav-menu li:last-child {
  padding-right: 0;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100.5%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(
    "../assets/img/image1.jpg"
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.hero-bg-image::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 1;
  // opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.hero-vid {
  position: relative;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: absolute;
  // top: 50%;
  // bottom: 50%;
  width: 100%;
  max-width: 600px;
  z-index: 1;
  padding: 20em 0 0 4em;
}
.hero-content h1 {
  font-size: 3rem;
  color: #fafafa;
}
.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 1.5em;
  color: #fafafa;
}
.hero-btn {
  width: 30%;
  max-width: 200px;
  padding: 0.8em 3em;
  color: #141414;
  background: #fafafa;
  border-radius: 4px;
}

.cards {
  font-size: 1.5rem;
  padding: 8em 2em;
  background: #FAFAFA;
  text-align: center;

  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
  }

  &-content__box {
    padding: 1em;
    background: #FFFFFF;
    border-radius: 4px;
    // border: 1px solid #000000;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);


    & img {
      height: 150px;
      border-radius: 4px;
    }
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .4em 0;
  }

  &-text {
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px
  } 

  &-btn {
    font-size: .9rem;
    display: inline-block;
    padding: .4em 2em;
    background: #141414;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 1em;
    transition: all 0.3s ease-in-out;
  }
  &-btn:hover {
    background: #FFFFFF;
    color: #000000;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);

  }
}

/* ===================================== */
@media screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav {
    padding: 0em;
    border: none;
  }

  .nav-content {
    border-radius: 0px;
    padding: 1.5em 1em;
  }

  .nav-logo {
    font-size: 1.2rem;
  }

  .mobile-ham {
    width: 40%;
    max-width: 30px;
  }

  .mobile-lines {
    height: 2px;
    margin-bottom: 0.3em;
    background: #fafafa;
    border-radius: 4px;
  }
  .mobile-lines:last-child {
    margin-bottom: 0em;
  }

  .line2 {
    width: 50%;
  }

  .nav-menu {
    display: none;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }

  .hero::after {
    display: none;
  }
  .hero-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    padding: 10em 0 8em 0;
  }

  .hero-vid {
    display: none;
  }

  .hero-btn {
    width: 30%;
    max-width: 200px;
    padding: 0.6em 2em;
    background: #fafafa;
    border-radius: 4px;
  }
}

/* ====================== */
@media screen and (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem;
    color: #fafafa;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #fafafa;
  }
}
