@use "sass/btns";
@use "sass/colors";
@use "sass/globals";

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* background: #23424a; */
  padding: 1em;
  border-radius: 4px;
}
.nav-btn {
  width: 30%;
  max-width: 140px;
  padding: 0.4em;
  text-align: center;
  color: #fafafa;
  background: #141414;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3125s ease-in-out;
}

.nav-btn:hover {
  background: transparent;
  border: 2px solid #fafafa;
}

.nav-logo {
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav-menu li {
  padding: 0 3em 0 0;
}
.nav-menu li:hover::before {
  width: 100%;
  height: 2px;
  content: "";
  border-bottom: 2px solid #141414;
}
.nav-menu li:last-child {
  padding-right: 0;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100.5%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-vid {
  position: relative;
  width: 100%;
}

.hero-content {
  position: absolute;
  width: 80%;
  max-width: 600px;
  z-index: 1;
  padding: 6em 0 0 4em;
}
.hero-content h1 {
  font-size: 3rem;
  color: #fafafa;
}
.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 1.5em;
  color: #fafafa;
}
.hero-btn {
  width: 30%;
  max-width: 200px;
  padding: 0.8em 3em;
  color: #141414;
  background: #fafafa;
  border-radius: 4px;
}

.skills {
  padding: 5em 2em;
  background-color: dodgerblue;
}

/* ===================================== */
@media screen and (max-width: 768px) {
  .nav .nav__content .nav__btn {
    display: none;
  }

  .nav {
    padding: 0em;
    border: none;
  }

  .nav .nav__content {
    border-radius: 0px;
    padding: 1.5em 1em;
  }

  .nav .nav__content .nav__logo {
    font-size: 1.2rem;
  }

  .nav .nav__content .mobile__ham {
    width: 40%;
    max-width: 30px;
  }

  .nav .nav__content .mobile__ham .mobile__lines {
    height: 2px;
    margin-bottom: 0.3em;
    background: #fafafa;
    border-radius: 4px;
  }
  .nav .nav__content .mobile__ham .mobile__lines:last-child {
    margin-bottom: 0em;
  }

  .nav .nav__content .mobile__ham .mobile__line2 {
    width: 50%;
  }

  .nav .nav__content .nav__menu {
    display: none;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }

  .hero::after {
    display: none;
  }
  .hero .hero__content {
    position: relative;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    padding: 10em 0 8em 0;
  }

  .hero .hero__vid {
    display: none;
  }

  .hero .hero__content .hero__btn {
    width: 30%;
    max-width: 200px;
    padding: 0.6em 2em;
    background: #fafafa;
    border-radius: 4px;
  }
}

/* ====================== */
@media screen and (max-width: 480px) {
  .hero .hero__content h1 {
    font-size: 2rem;
    color: #fafafa;
  }

  .hero .hero__content p {
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #fafafa;
  }
}
